body {

	#root {

		height: 100%;
		width: 100%;

		.main-layout {

			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;

		}

		.content-area {

			flex-grow: 1;
			//height: calc(100% - 60px);
			padding: 24px 32px 16px;

			.card {

				height: 100%;
				width: 100%;
				border-color: light-shade($black, 90%);
				box-shadow: 1px 1px 2px 1px rgb(231 231 232 / 40%);

			}

		}

	}

}


.mr-8 {

	margin-right: 8px;

}

.pr-8 {

	padding-right: 8px;

}
