// Varibales
// ------------------------------------------------------------

$body-font					: 'Hanken Grotesk', sans-serif;
$heading-font				: 'Hanken Grotesk', sans-serif;
$body-font-color			: #0D0F1F;
$body-bg					: #F5F9FF;
$link-color                 : #1976D2;

// Colors
// ------------------------------------------------------------

$white                      : #FFFFFF;
$black                      : #101218;
$primary-color              : #FF7C75;
$secondary-color            : #FF7C00;

$steel-blue                 : #A3A3F5;
$tea-green                  : #C3FFD2;
$salmon                     : #FF7C75;
$pink                       : #FFA4D5;
$light-yellow               : #FEE882;
$baby-blue                  : #AEE5FF;

$error-col                  : #FA505D;
$link-col                   : #0550AE;

// Typography
// ------------------------------------------------------------

$font-size-h1               :  3.05em;
$font-size-h2               :  2.44em;
$font-size-h3               :  1.95em;
$font-size-h4               :  1.56em;
$font-size-h5               :  1.25em;
$font-size-h6               :  1em;
$font-size-sm               :  0.8em;

// $grey-color                 : #596D79;

// $success-color              : #00740D;
// $warning-color              : #FF9800;
// $inprogress-color           : #1976D2;

// $cropper-success            : #00A28E;
// $error-col              : #FA505D;
