.table-data {

	padding: 8px;

	.title {

		margin-bottom: 16px;

	}

	.p-datatable {

		.p-datatable-wrapper {

			table {

				&.p-datatable-table {

					thead {

						&.p-datatable-thead {

							tr {

								th {

									padding: 0;
									background-color: transparent;
									border-color: $white;

									.p-column-header-content {

										height: 32px;
										padding: 0 16px;

										span {

											font-size: $font-size-sm;
											color: $black;
											font-weight: 600;

										}

									}

								}

							}

						}

					}

					tbody {

						&.p-datatable-tbody {

							tr {

								td {

									height: 40px;
									padding: 0 16px;
									font-size: $font-size-h6;
									color: $body-font-color;
									border-color: light-shade($black, 90%);

								}

								&:last-child {

									td {

										border-color: $white;

									}
								}

							}

						}

					}

				}

			}

		}

	}
}
